
<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-contents">Contents</label>
      <input id="post-contents" name="post-contents" />
    </div>
    <button type="submit" class="btn">Create Post</button>
  </form>
</section>
<script src="/javascript/create-post.js"></script>