<div class="header-banner">
    <h1>
      <a class="billboard" href="/">The Tech Blog</a>
    </h1>
</div>
<div class="post-list">
  <div class="post-card">
    {{> post-info post }}
  </div>
</div>

{{#if post.comments}}
  <div class="comment-card">
    <div class="post-header">
      <p class="post-title">Comments</h2>
    </div>
    {{> comments post.comments}}
    </div>
{{/if}}
{{#if loggedIn}}
  {{> comment-form}}  
{{/if}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}